strong {
  color: red;
  font-weight: bold;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
  border: 1px solid red;
  margin-left: 10px;
  font-size: 80%;

  &:hover {
    background: red;
    color: white;
  }
}



fieldset {
  border: 0;
}


ul{
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}
