@import '~@angular/material/core/theming/all-theme';
//@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';

@include mat-core();

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Roboto;
}
